<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/heroes.css">
    <link rel="stylesheet" href="./style/style.css">
    <title>Heroes</title>
</head>
<body>
    <header>
        <h2>
            <a href="/">Demon Slayer</a> 
        </h2>
        <ul>
            <a href="heroes"><li>Heroes</li></a> 
            <a href="demons"><li>Demons</li></a>
            <a href="create"><li>Create Character</li></a>
        </ul>
        <form action="">
        <input type="text" placeholder="Search...">
        <!-- <button></button> -->
        </form>
        <div>
            <img src="./imgs/Low-Res-Kamado-Tanjiro-from-Demon-Slayer.webp" alt="Tangiro's Picture">
            <h3>Tangiro</h3>
        </div>
    </header>
    <main>
        <ul>
           
                <li>
                    <div class="container">
                        <div>
                            <h1>Hello world</h1>
                            <address>Author </address>|<time> 22-01-2023</time>
                            <p>Description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima sunt maxime veritatis vero, natus dolore libero laboriosam officiis consequuntur est debitis incidunt neque labore autem saepe! Fugiat nobis aliquam aut.</p>
                        </div>

                        <div id="crud">
                            <button>Delete</button>
                            <button>update</button>
                            <button>view</button>
                        </div>
                        
                    </div>
                    <div class="container">
                        <img src="/imgs/download.jpg" alt="" srcset="">
                    </div>
                </li>
           
        </ul>
    </main>

</body>
</html>