<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Hero</title>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <section id="first-section">
         <div id="text">
            <h2> Demon Slayer</h2>
            <p>
                "Demon Slayer," also known as "Kimetsu no Yaiba" in Japanese, is a popular manga and anime series created by Koyoharu Gotouge. Set in early 20th century Japan, the story revolves around a young boy named Tanjiro Kamado who becomes a demon slayer after his family is brutally slaughtered by demons, with his sister Nezuko being the sole survivor, but turned into a demon herself.
            </p>
            <p>
                <strong>Akasa</strong> Akaza was bewildered, wondering how Tanjiro did not have any fighting spirit, comparing this feeling to fighting against a plant. He acknowledges that Tanjiro surpassed his speed.
            </p>
            <div><a href="">Go to the Heroes Page</a></div> 
         </div>
         <div>
            <img src="./imgs/Untitled-design-2022-11-30T163245.602.avif" alt="" srcset="">
         </div>
         
        </section>

        <section id="second-section">
            <div id="text">
               <h2> Demon Slayer</h2>
               <p>
                   "Demon Slayer," also known as "Kimetsu no Yaiba" in Japanese, is a popular manga and anime series created by Koyoharu Gotouge. Set in early 20th century Japan, the story revolves around a young boy named Tanjiro Kamado who becomes a demon slayer after his family is brutally slaughtered by demons, with his sister Nezuko being the sole survivor, but turned into a demon herself.
               </p>
               <p>
                  <strong>Tanjiro</strong>embarks on a journey to avenge his family and find a cure for his sister's demonic condition. He joins the Demon Slayer Corps, a group of skilled swordsmen who are dedicated to protecting humanity from demons and eliminating the threat they pose. Tanjiro's ultimate goal is to defeat the powerful demon responsible for his family's tragedy, Muzan Kibutsuji.
               </p>
               <div><a href="">Go to the Demons Page</a></div> 
            </div>
            <div>
               <img src="./imgs/fff87-16839061427526-1920.avif" alt="" srcset="">
            </div>
            
           </section>
    </main>
    <footer>
        <h1>Demon Slayer</h1>
        <p>Join through these Links !</p>
        <div>
            <img src="./imgs/WhatsApp.svg.webp" alt="" srcset="">
            <img src="/imgs/Instagram_logo_2022.svg" alt="" srcset="">
            <img src="/imgs/Circle-Facebook-Logo-PNG-Pic.png" alt="" srcset="">
        </div>
    </footer>
</body>
</html>